body{
  color: black;
  font-family: 'Raleway', sans-serif;
}
h1{
  color: orange;
  text-align: center;
  font-style: italic;
  font-family: 'Pacifico', cursive;
}
h2{
  color: blue;
  font-weight: normal;
  text-decoration: underline;
}
h3{
  color: red;
  font-weight: normal;
  text-decoration: underline;
}
p{
  text-align: justify;
  font-size: 14px;
  line-height: 23px;
}
strong{
  color: red;
  font-size: 20px;
  font-weight: normal;
}
em{
  color: violet;
  font-style: normal;
}
mark{
  background-color: green;
  font-weight: bold;
}
.main-header{
  background-color: blue;
  font-size: 20px;
  text-decoration: underline;
}
.main-header :hover{
  background-color: red
}
.section-1{
  background-color: orange;
}
.deportes{
  border-color: blue;
}
.tiempolibre{
  border-color: blue;
}
.footer-hobbies{
  background-color: blue;
}
.caja1, .caja2, .caja3{
  height:100px;
  weight:100px;
}
.caja1 {
  background-color: red;
}
.caja2 {
  background-color: yellow;
}
.caja3 {
  background-color: green;
}


.fondo-contenedor{
  width: 1000px;
  margin-left: 30px;
  background-color: black;
  overflow: hidden;
  padding: 10px;
}
.a{
  height: 200px;
  background-color: orange;
  padding: 10px;
  float: left;
  width: 800px;
}

.clear{
  clear: both;
}
.b{
  height: 1660px;
  width: 360px;
  background-color: yellow;
  float: left;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.c{
  height: 1660px;
  width: 580px;
  background-color: blue;
  float: right;
  padding: 10px;
  margin-top: 10px;
}

.d{
  height: 100px;
  padding: 10px;
  background-color: green;
  clear: both;
}
